*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

/* custom-properties */
:root{
  --first-color: #0061ff;
}



ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

img{
  max-width: 100%;
}

h1{
  font-size: 80px;
  font-weight: 900;
}
h2{
  font-size: 43px;
}

h3{
  font-size: 23px;

}

h4{
  font-size: 16px;
}
h6{
  padding: 12px 0;
  font-size: 13px;
  font-weight: 500;
}
/* utilities */
.debug{
  border: 1px solid black;
  background-color: burlywood;
}
.flex-box{
  display: flex;
}

/* /utilities */


/* header */

/* header-top */

.row.flex-box{
  justify-content: space-between;
}

.header-top li{
  padding: 25px 15px;
  height: 80px;

}


.header-top li.top-link:hover{
  border-bottom: 3px solid black;
  cursor: pointer;
}


.button{
  color: white;
  padding: 10px 15px;
  background-color: var(--first-color);
}
/* /header-top */

/* header-bottom */
.header-bottom{
  padding-top: 100px;
  max-height: 760px;
  background-color: #b4d0e7;
}

.jumbotron{
  max-width: 1200px;
  margin: 0 auto;

}
.jumbo-left{
  max-width: 360px;
}

.content{
  margin-top: 40px;
}

.jumbotron .jumbo-left p{
  margin: 30px 0;
}
.jumbo-right img{
  margin-top: 30px;
}
/* /header-bottom */
/* /header */

/* main */

.container-main{
  max-width: 1030px;
  margin: 130px auto;
}
.fatturazione span::before{
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 5px solid var(--first-color);
  line-height: 10px;
  vertical-align: middle;
}

.fatturazione span:last-child::before{
  border: 2px solid grey;
  height: 14px;
  width: 14px;
}
.fatturazione{
  margin-top: 50px;
}
.fatturazione span{
  padding-right: 60px;
}
.plans{
  padding-top: 50px;
}

/* cards */
.container.card{
  max-width: 300px;
}
.container div{
  padding:0  30px;
  padding-top: 30px;
}

.container{
  border: 1px groove black;
  margin-top: 30px;
  font-size: 14px;
  
}

.container h6{
  border-bottom: 1px groove black;
  text-align: center;
}
.card ul{
  --icon-space: 1.3em;
  padding: 20px 0; 
}
.container p:nth-last-of-type(1){
  padding-top: 30px;
}
.plans .container:nth-last-of-type(1){
  padding-bottom: 30px;
}


.card ul li{
  padding: 15px;
  padding-left: var(--icon-space);
}
.card ul li::before{
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc( var(--icon-space) * -1 );
  width: var(--ic on-space);
  padding-right: 5px;
}
.card ul li.user::before{
  content: "\f007";
}
.card ul li.folder::before{
  content: "\f07b";
}
.card ul li.share::before{
  content: "\f1e0";
}
.card ul li.check::before{
  content: "\f00c";
  color: var(--first-color);
}
.card ul li.users::before{
  content: "\f0c0";
}
.cta{
  color: blue;
  text-decoration: underline;
}

.line{
  display:inline-block;
  width: 45px;
  border-bottom: 1px solid black;
  padding-top: 40px;
}

/* /cards */

/* partner */

section:nth-child(2){
  padding-top: 130px;
}

.partner{
  padding-top: 60px;
  margin-left: 55px;
  max-width: 300px;
}
.partner p{
  padding: 40px 0;
}
.partner .button{
  background-color: var(--second-color);
  color: black;
  border: 2px solid black;
}


.image{
  max-width: 600px;
  max-height: 518px;
}

/* /partner */

/* features */

.card-feature{
  max-width: 300px;
  margin: 0 auto;
}

.features h2{
  padding-top: 130px;
  padding-bottom: 60px;
}

.features h3{
  padding-bottom: 20px;
}

/* / features */

/* /main */

/* footer */
footer{
  padding: 100px 0;
  background-color: black;
}
footer .jumbotron{
  color: white;
}
footer ul{
  padding: 30px 0;
}
footer li{
  padding-bottom: 10px;
}

footer .flex-box{
  justify-content: space-between;

}

footer .flex-box nav{
  max-width: 200px;

}
footer .line{
  width: 125px;
  border-bottom: 2px solid white;
}